
POSTGRESQL_HOST={{ item.host | default(postgresql_default_host) }}
POSTGRESQL_PORT={{ item.port | default(postgresql_default_port) }}
DB_NAME={{ item.database_name }}
DB_USERNAME={{ item.database_user }}
NB_BACKUPS={{ item.backup_retention | default(default_backup_retention) }}
