[Unit]
Description=Backup Postgresql Database {{ item.database_name }}

[Service]
Type=oneshot
User=pgbackup
Group=pgbackup
ExecStart=/usr/local/bin/postgresql-backup.sh /etc/postgresql-backup/{{ item.database_name }}.conf
